.calendar-container {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 0px;
    border: 1px solid #bbabab;
    text-align: center;
  }
  
  th {
    background-color: #d5afed;
  }
  
  tr:nth-child(odd) td {
    background-color: #e5d9e1;
  }

  tr:nth-child(even) td {
    background-color: #d9c7d2;
  }
  
  button {
    margin: 0 10px;
  }

  h1.header {
    text-align: center;
    color: rgb(54, 4, 62);
  }

  .dates {
    font-size: 1.6rem;
  }

  .slotButtons{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: transparent;
    font-size: 2rem;
  }

  .slotButtons:hover{
    background-color:rgb(167, 153, 169);
  }

  .inactive{
    padding:0;
    color:rgba(22, 25, 25, 0.217);
  }
  
  .slotColumns{
    width: 13%;
  }
  
  .times{
    height: 40px;
  }

  #prev, #next{
    background-color: #d5afed;
    width: 50px;
  }


  /* MODAL */
  body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}