#calendar {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 0px;
    border: 1px solid #bbabab;
    text-align: center;
  }
  
  th {
    background-color: #d5afed;
  }
  
  tr:nth-child(odd) td {
    background-color: #e5d9e1;
  }

  tr:nth-child(even) td {
    background-color: #d9c7d2;
  }
  
  button {
    margin: 0 10px;
  }

  h1.header {
    text-align: center;
    color: rgb(54, 4, 62);
  }

  .dates {
    font-size: 1.6rem;
  }

  .slotButtons{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: transparent;
    font-size: 2rem;
  }

  .slotButtons:hover{
    background-color:rgb(113, 94, 116);
  }

  .inactive{
    padding:0;
    color:rgba(22, 25, 25, 0.217);
  }
  
  .slotColumns{
    width: 13%;
  }
  .times{
    height: 40px;
  }